.userReservationContainer {
    font-family: 'Poppins', sans-serif;
}

.reservationTittle {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}